## Deliverable 3. Create a Travel Itinerary Map.

In [154]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [155]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../VacationSearch/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Caravelas,BR,75.92,overcast clouds,-17.7125,-39.2481,Pousada dos Navegantes
1,6,Rikitea,PF,78.24,overcast clouds,-23.1203,-134.9692,People ThankYou
2,10,Hilo,US,80.33,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
3,15,Kahului,US,79.97,clear sky,20.8947,-156.4700,Maui Seaside Hotel
4,18,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [156]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [157]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [158]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == "La Orilla",:]
vacation_end = vacation_df.loc[vacation_df.City == "La Orilla",:]
vacation_stop1 = vacation_df.loc[vacation_df.City == "Petatlan",:]
vacation_stop2 = vacation_df.loc[vacation_df.City == "Puerto Escondido",:] 
vacation_stop3 = vacation_df.loc[vacation_df.City == "Pochutla",:]

In [159]:
display(vacation_stop1)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
143,388,Petatlan,MX,85.8,broken clouds,17.5167,-101.2667,Hotel California Petatlán

In [160]:
subset = vacation_start[['Lat', 'Lng']]
start=()
start = [tuple(x) for x in subset.to_numpy()]

TypeError: 'tuple' object is not callable

In [ ]:

#attmept 1
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = (vacation_start[['Lat', 'Lng']].to_numpy()
#end = (vacation_end[['Lat', 'Lng']].to_numpy()
#stop1 = vacation_stop1[['Lat', 'Lng']].to_numpy()
#stop2 = vacation_stop2[['Lat', 'Lng']].to_numpy()
#stop3 = vacation_stop3[['Lat', 'Lng']].to_numpy()

In [ ]:
#attempt 2

start_subset = vacation_start[['Lat', 'Lng']]
start = [tuple(x) for x in start_subset.to_numpy()]

end_subset = vacation_end[['Lat', 'Lng']]
end = [tuple(x) for x in end_subset.to_numpy()]

stop1_subset = vacation_stop1[['Lat', 'Lng']]
stop1 = [tuple(x) for x in stop1_subset.to_numpy()]

stop2_subset = vacation_stop2[['Lat', 'Lng']]
stop2 = [tuple(x) for x in stop2_subset.to_numpy()]

stop3_subset = vacation_stop3[['Lat', 'Lng']]
stop3 =[tuple(x) for x in stop3_subset.to_numpy()]

In [163]:
vacation_start.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
173,470,La Orilla,MX,79.99,broken clouds,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas

In [162]:
#manually create tuples

stop1 = (17.5167, -101.2667)
stop2 = (15.85, -97.0667)
stop3 = (15.7432, -96.4661)
start = (17.9833, -102.2333)
end = (17.9833, -102.2333)

In [167]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3], travel_mode = 'DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [176]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,470,La Orilla,MX,79.99,broken clouds,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
1,388,Petatlan,MX,85.80,broken clouds,17.5167,-101.2667,Hotel California Petatlán
2,242,Puerto Escondido,MX,81.43,scattered clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,454,Pochutla,MX,80.82,scattered clouds,15.7432,-96.4661,Hotel Posada San Jose

In [179]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
destination_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [183]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=destination_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))